venv/
build/
*.charm
*.rock
verdaccio-app/node_modules/
verdaccio-app/dist/
verdaccio-app/metrics-plugin/dist/
verdaccio-app/test-dist/
.pnpm-store/
/bundles/
/images/
# charmcraft build artifacts
parts/
overlay/
prime/
stage/
.tox/
.coverage
.spread-reuse.*.yaml
htmlcov/
__pycache__/
*.py[cod]
*charm.sh
.venv/
.pyright/
.pytest_cache/
.ruff_cache/
tmp/
.workshop.lock
