venv/
build/
*.charm
# charmcraft build artifacts
parts/
overlay/
prime/
stage/
.tox/
.coverage
.spread-reuse.*.yaml
htmlcov/
__pycache__/
*.py[cod]
*charm.sh
.venv/
.pyright/
.pytest_cache/
.ruff_cache/
tmp/
